.box {
    width: 400px;
    background-color: rgb(152, 172, 146);
   
        margin: auto;
        padding: 10px;
        border-radius: 20px;
        box-shadow: 4px 3px 10px black;
       
}
.box:hover{
    box-shadow: 19px 16px 7px black;
}
.img{
    width: 100%;
    border-radius: 20px;
}

#centrekaro{
    text-align: center;
}
body{
    padding: 50px;
 background-image: url("https://wallpaper.dog/large/20505923.jpg");
 background-repeat: no-repeat;
 background-attachment:scroll;
 background-size: 100% 100%; 
}
.fontw{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:medium;
    font-style: oblique;
    color: rgb(255, 255, 251);

}

.fontq{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: whitesmoke;
}
.fontqq{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;
    font-style: oblique;
    color: rgb(255, 255, 251);
}
.newdiv{
    margin-left: 0px;

}
.episodeswalidiv{
   padding: 19px;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    background-image: url(https://cdn.britannica.com/49/251849-050-54AE4F9E/bryan-cranston-aaron-paul-breaking-bad.jpg);
    background-size:cover;
        background-repeat: no-repeat;
 background-attachment:scroll;
}
.s4{
    
    border-radius: 20px;
    padding: 19px;
    padding-bottom: 19px;
    margin-top: 19px;
    margin-bottom: 19px;
    color: rgb(255, 255, 255);
    background-image: url(https://streamcoimg-a.akamaihd.net/000/098/4/984-Banner-L1-d85219f636779e5ff5dade8752764368.jpeg?resize=1440px:*&quality=85);
    background-size: cover;
    background-repeat: no-repeat;
 background-attachment:scroll;
}
.right-aligned li {
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   padding-inline-start: 0%;
   list-style-type: none;
    text-align:end;
    list-style-position: inside;

}
.links{
    padding: 70px;
    text-align: center;
    
}


.Characters{
    background-image: url(https://c4.wallpaperflare.com/wallpaper/967/214/479/minimalistic-breaking-bad-meth-walter-white-heisenberg-1920x1080-abstract-breaking-bad-hd-art-wallpaper-preview.jpg);
    border-radius: 20px;
    padding: 19px;
    padding-bottom: 19px;
    margin-top: 19px;
    margin-bottom: 19px;
    background-size: cover;
    background-repeat: no-repeat;
 background-attachment:scroll;


}
a {
    text-decoration: none; 
    -webkit-text-stroke: 0.5px black;
    font-weight: bold; 
    color: #8a8484;
  }
table {
    font-family:Arial, Helvetica, sans-serif;
    -webkit-text-stroke: 0.5px black;
    text-align: center;
    align-items: center;
    color: rgb(199, 164, 7);
    
    
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  table th, table td {
    border: 9px solid #f7e69f;
    border-style:solid;
    padding: 19px;
  }
  
  table th {
    background-color: #cec6f8;
    text-align: left;
  }
  
  table tbody tr:nth-child(even) {
    background-color: #76cdf0;
  }
  
  table tbody tr:hover {
    background-color: #f79595;
  }
  
@media only screen and (max-width: 800px){
    .box {
        width: 90%;
        
       
            margin: auto;
            padding: 10px;
            border-radius: 20px;
            box-shadow: 4px 3px 10px black;
           
    }
    .episodeswalidiv{
        padding: 19px;
         border-radius: 20px;
         color: rgb(255, 255, 255);
         background-image: url(https://preview.redd.it/this-pic-goes-hard-feel-free-to-screenshot-jokes-aside-i-v0-79wmojv4dwcb1.jpg?width=640&crop=smart&auto=webp&s=699ffb4229e4b0294ec7d4b2db407d99b4b16f94);
         
        background-size:cover;
         background-repeat: no-repeat;
      background-attachment:scroll;
     }
     .s4{
        border-radius: 20px;
        padding: 19px;
        margin-top: 19px;
        color: rgb(255, 255, 255);
        background-image: url(https://w0.peakpx.com/wallpaper/184/806/HD-wallpaper-the-danger-black-breaking-bad-heisenberg.jpg);
        background-size: auto;
        background-repeat: no-repeat;
     background-attachment:scroll;
    }
    .fontw{
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: xx-large;
        font-style: oblique;
        color: rgb(255, 255, 251);
    
    }
    .fontqq{
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: xx-large;
        font-style: oblique;
        color: rgb(255, 255, 251);
    }
    .Characters{
        background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/61f5fdab-a19c-49f5-aad6-e343bca87ef5/d5evanw-8f4c1dc7-fab6-4a25-acb8-bba3eeb92373.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzYxZjVmZGFiLWExOWMtNDlmNS1hYWQ2LWUzNDNiY2E4N2VmNVwvZDVldmFudy04ZjRjMWRjNy1mYWI2LTRhMjUtYWNiOC1iYmEzZWViOTIzNzMuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0._NeiHs-OBraa1jj7Zln6KZAALt-1GlZBqU1F56K_BmE);
        
        background-size: cover;
        background-repeat: no-repeat;
     background-attachment:scroll;
    
 max-width: 800px; /* Set a maximum width for the container */
        margin: 0 auto; /* Center the container */
        overflow-x: auto; /* Add horizontal scroll if needed */
      
    
    }
    .chotatable{
        background-image: url(https://media.wired.com/photos/5b33447fa2bff9692c40a1fc/master/w_1600%2Cc_limit/BB_2.jpg);
        border-radius: 20px;
        padding: 19px;
        padding-bottom: 19px;
        margin-top: 19px;
        margin-bottom: 19px;
        background-size: cover;
        background-repeat: no-repeat;
     background-attachment:scroll;
    }
    .right-aligned li {
        
    
         max-width: 800px; /* Set a maximum width for the container */
         margin: 0 auto; /* Center the container */
         overflow-x: auto; /* Add horizontal scroll if needed */
       
     }
    
}